# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.bob/coverage/c8.txt
.bob/coverage/c8/base.css
.bob/coverage/c8/block-navigation.js
.bob/coverage/c8/favicon.png
.bob/coverage/c8/index.html
.bob/coverage/c8/lcov.info
.bob/coverage/c8/prettify.css
.bob/coverage/c8/prettify.js
.bob/coverage/c8/sort-arrow-sprite.png
.bob/coverage/c8/sorter.js
.bob/coverage/c8/tmp/coverage-35362-1737631115863-0.json
.bob/coverage/c8/tmp/coverage-35363-1737631113516-0.json
.bob/coverage/c8/tmp/coverage-35366-1737631115842-0.json
.bob/test/mocha.txt
lib/commonjs/assets/cross.png
lib/commonjs/assets/cross@1.5x.png
lib/commonjs/assets/cross@2x.png
lib/commonjs/assets/cross@3x.png
lib/commonjs/assets/cross@4x.png
lib/commonjs/assets/linkIcon.png
lib/commonjs/assets/linkIcon@1.5x.png
lib/commonjs/assets/linkIcon@2x.png
lib/commonjs/assets/linkIcon@3x.png
lib/commonjs/assets/linkIcon@4x.png
lib/commonjs/assets/lock.png
lib/commonjs/assets/lock@1.5x.png
lib/commonjs/assets/lock@2x.png
lib/commonjs/assets/lock@3x.png
lib/commonjs/assets/lock@4x.png
lib/commonjs/assets/logo.png
lib/commonjs/assets/logo@1.5x.png
lib/commonjs/assets/logo@2x.png
lib/commonjs/assets/logo@3x.png
lib/commonjs/assets/logo@4x.png
lib/commonjs/assets/tick.png
lib/commonjs/assets/tick@1.5x.png
lib/commonjs/assets/tick@2x.png
lib/commonjs/assets/tick@3x.png
lib/commonjs/assets/tick@4x.png
lib/commonjs/components/ComponentStyles.js
lib/commonjs/components/ComponentStyles.js.map
lib/commonjs/components/CrossDismiss.js
lib/commonjs/components/CrossDismiss.js.map
lib/commonjs/components/LaunchConnectTransfer.js
lib/commonjs/components/LaunchConnectTransfer.js.map
lib/commonjs/components/Loader.js
lib/commonjs/components/Loader.js.map
lib/commonjs/components/MAAttributedText.js
lib/commonjs/components/MAAttributedText.js.map
lib/commonjs/components/MAButton.js
lib/commonjs/components/MAButton.js.map
lib/commonjs/components/SecuredBy.js
lib/commonjs/components/SecuredBy.js.map
lib/commonjs/containers/ErrorScreen.js
lib/commonjs/containers/ErrorScreen.js.map
lib/commonjs/containers/LandingScreen/ExitBottomSheet.js
lib/commonjs/containers/LandingScreen/ExitBottomSheet.js.map
lib/commonjs/containers/LandingScreen/FooterView.js
lib/commonjs/containers/LandingScreen/FooterView.js.map
lib/commonjs/containers/LandingScreen/LandingScreen.js
lib/commonjs/containers/LandingScreen/LandingScreen.js.map
lib/commonjs/containers/LandingScreen/LandingScreenStyles.js
lib/commonjs/containers/LandingScreen/LandingScreenStyles.js.map
lib/commonjs/containers/LandingScreen/ScrollableView.js
lib/commonjs/containers/LandingScreen/ScrollableView.js.map
lib/commonjs/containers/RedirectingScreen/RedirectingScreen.js
lib/commonjs/containers/RedirectingScreen/RedirectingScreen.js.map
lib/commonjs/containers/RedirectingScreen/RedirectingScreenStyles.js
lib/commonjs/containers/RedirectingScreen/RedirectingScreenStyles.js.map
lib/commonjs/locale/en.json
lib/commonjs/locale/es.json
lib/commonjs/locale/i18n.js
lib/commonjs/locale/i18n.js.map
lib/commonjs/navigation/Navigation.js
lib/commonjs/navigation/Navigation.js.map
lib/commonjs/navigation/types.js
lib/commonjs/navigation/types.js.map
lib/commonjs/redux/slices/asyncHelper.js
lib/commonjs/redux/slices/asyncHelper.js.map
lib/commonjs/redux/slices/authenticationSlice.js
lib/commonjs/redux/slices/authenticationSlice.js.map
lib/commonjs/redux/slices/completeSlice.js
lib/commonjs/redux/slices/completeSlice.js.map
lib/commonjs/redux/slices/index.js
lib/commonjs/redux/slices/index.js.map
lib/commonjs/redux/slices/termsAndPoliciesSlice.js
lib/commonjs/redux/slices/termsAndPoliciesSlice.js.map
lib/commonjs/redux/store/index.js
lib/commonjs/redux/store/index.js.map
lib/commonjs/services/api/apiKeys.js
lib/commonjs/services/api/apiKeys.js.map
lib/commonjs/services/api/authenticate.js
lib/commonjs/services/api/authenticate.js.map
lib/commonjs/services/api/complete.js
lib/commonjs/services/api/complete.js.map
lib/commonjs/services/api/routes.js
lib/commonjs/services/api/routes.js.map
lib/commonjs/services/api/termsAndPolicies.js
lib/commonjs/services/api/termsAndPolicies.js.map
lib/commonjs/services/apiClient/constants.js
lib/commonjs/services/apiClient/constants.js.map
lib/commonjs/services/apiClient/index.js
lib/commonjs/services/apiClient/index.js.map
lib/commonjs/utility/constants.js
lib/commonjs/utility/constants.js.map
lib/commonjs/utility/utils.js
lib/commonjs/utility/utils.js.map
lib/module/assets/cross.png
lib/module/assets/cross@1.5x.png
lib/module/assets/cross@2x.png
lib/module/assets/cross@3x.png
lib/module/assets/cross@4x.png
lib/module/assets/linkIcon.png
lib/module/assets/linkIcon@1.5x.png
lib/module/assets/linkIcon@2x.png
lib/module/assets/linkIcon@3x.png
lib/module/assets/linkIcon@4x.png
lib/module/assets/lock.png
lib/module/assets/lock@1.5x.png
lib/module/assets/lock@2x.png
lib/module/assets/lock@3x.png
lib/module/assets/lock@4x.png
lib/module/assets/logo.png
lib/module/assets/logo@1.5x.png
lib/module/assets/logo@2x.png
lib/module/assets/logo@3x.png
lib/module/assets/logo@4x.png
lib/module/assets/tick.png
lib/module/assets/tick@1.5x.png
lib/module/assets/tick@2x.png
lib/module/assets/tick@3x.png
lib/module/assets/tick@4x.png
lib/module/components/ComponentStyles.js
lib/module/components/ComponentStyles.js.map
lib/module/components/CrossDismiss.js
lib/module/components/CrossDismiss.js.map
lib/module/components/LaunchConnectTransfer.js
lib/module/components/LaunchConnectTransfer.js.map
lib/module/components/Loader.js
lib/module/components/Loader.js.map
lib/module/components/MAAttributedText.js
lib/module/components/MAAttributedText.js.map
lib/module/components/MAButton.js
lib/module/components/MAButton.js.map
lib/module/components/SecuredBy.js
lib/module/components/SecuredBy.js.map
lib/module/containers/ErrorScreen.js
lib/module/containers/ErrorScreen.js.map
lib/module/containers/LandingScreen/ExitBottomSheet.js
lib/module/containers/LandingScreen/ExitBottomSheet.js.map
lib/module/containers/LandingScreen/FooterView.js
lib/module/containers/LandingScreen/FooterView.js.map
lib/module/containers/LandingScreen/LandingScreen.js
lib/module/containers/LandingScreen/LandingScreen.js.map
lib/module/containers/LandingScreen/LandingScreenStyles.js
lib/module/containers/LandingScreen/LandingScreenStyles.js.map
lib/module/containers/LandingScreen/ScrollableView.js
lib/module/containers/LandingScreen/ScrollableView.js.map
lib/module/containers/RedirectingScreen/RedirectingScreen.js
lib/module/containers/RedirectingScreen/RedirectingScreen.js.map
lib/module/containers/RedirectingScreen/RedirectingScreenStyles.js
lib/module/containers/RedirectingScreen/RedirectingScreenStyles.js.map
lib/module/locale/en.json
lib/module/locale/es.json
lib/module/locale/i18n.js
lib/module/locale/i18n.js.map
lib/module/navigation/Navigation.js
lib/module/navigation/Navigation.js.map
lib/module/navigation/types.js
lib/module/navigation/types.js.map
lib/module/redux/slices/asyncHelper.js
lib/module/redux/slices/asyncHelper.js.map
lib/module/redux/slices/authenticationSlice.js
lib/module/redux/slices/authenticationSlice.js.map
lib/module/redux/slices/completeSlice.js
lib/module/redux/slices/completeSlice.js.map
lib/module/redux/slices/index.js
lib/module/redux/slices/index.js.map
lib/module/redux/slices/termsAndPoliciesSlice.js
lib/module/redux/slices/termsAndPoliciesSlice.js.map
lib/module/redux/store/index.js
lib/module/redux/store/index.js.map
lib/module/services/api/apiKeys.js
lib/module/services/api/apiKeys.js.map
lib/module/services/api/authenticate.js
lib/module/services/api/authenticate.js.map
lib/module/services/api/complete.js
lib/module/services/api/complete.js.map
lib/module/services/api/routes.js
lib/module/services/api/routes.js.map
lib/module/services/api/termsAndPolicies.js
lib/module/services/api/termsAndPolicies.js.map
lib/module/services/apiClient/constants.js
lib/module/services/apiClient/constants.js.map
lib/module/services/apiClient/index.js
lib/module/services/apiClient/index.js.map
lib/module/utility/constants.js
lib/module/utility/constants.js.map
lib/module/utility/utils.js
lib/module/utility/utils.js.map
